
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>@ViewBag.Title - Simple Blog</title>
</head>
<body>
    <img src="https://www.trakya.edu.tr/admin/tools/theme/www_v2/images/logo/tr/logo.png" />

    <h1>
        <a href="@Url.RouteUrl("home")">Simple Blog</a>
    </h1>
    <a href="@Url.RouteUrl("login")">Login</a>
    <div>
        @RenderBody()


        <footer>
            &copy; @DateTime.Now.Year
        </footer>
        @RenderSection("Scripts", false)
        <!--False Zorunlumudur parametresi // True Dersek bu layout dosyasını kullanan butun viewların bir section tanımı olması gerekir
             True yaparsak diğer viewlardaki kodlara boş bi section eklememiz gerekir-->

    </div>
</body>
</html>
